@page "/"
@using SimpleBlazorPieChart
@using ColorSequenceGenerator
@using Radzen.Blazor
<h1>Pie Chart Usage Examples</h1>
<h2>Pie Chart Default</h2>
<SimplePieChart Data=@(
                new[] {
                ("Product Licenses", 5435),
                ("Consulting", 12127),
                ("Audit", 8036),
                ("Employee Salary", 15986) }) />
<h2>Pie Chart With Absolute Numbers</h2>
<SimplePieChart Data=@(
                new[] {
                ("Product Licenses", 5435),
                ("Consulting", 12127),
                ("Audit", 8036),
                ("Employee Salary", 15986) }) 
                ShowAbsoluteNumbers
                />
<h2>Pie Chart Sub Cats</h2>
<SimplePieChart Data=@(
                new[] {
                ("IT / Product Licenses", 5435),
                ("Financial / Consulting", 12127),
                ("IT / Audit", 8036),
                ("Management / Employee Salary", 15986),
                ("Management / Golden Parachute", 8000),
                ("Financial / Missing", 20000),
                ("Just One / In a Category", 20000),
                ("Just Trash", 10000),
                })
                ShowSubcategories=@true
                SubcatDelim="/"
                />
<h2>Pie Chart Sub Cats (no subcats)</h2>
<SimplePieChart Data=@(
                new[] {
                ("IT ~ Product Licenses", 5435),
                ("Financial ~ Consulting", 12127),
                ("IT ~ Audit", 8036),
                ("Management ~ Employee Salary", 15986),
                ("Management Golden Parachute", 8000),
                ("Financial __ Missing", 20000),
                ("Just Trash", 10000),
                })
                ShowSubcategories=@true
                SubcatDelim="/" />
<h2>Pie Chart All Zeroes (2022-07-28 issue)</h2>
<SimplePieChart Data=@(
                new[] {
                ("Product Licenses", 0),
                ("Consulting", 0),
                ("Audit", 0),
                ("Employee Salary", 0) }) />
<h2>Pie Chart no text</h2>
<SimplePieChart Data=@(
                new[] {
                ("Product Licenses", 5435),
                ("Consulting", 12127),
                ("Audit", 8036),
                ("Employee Salary", 15986) })
                ShowText=@false
    />

<h2>Pie Chart with additional controls</h2>
<SimplePieChart Data=@(
                new[] {
                ("Product Licenses", 5435),
                ("Consulting", 12127),
                ("Audit", 8036),
                ("Employee Salary", 15986) })
                ColorSequenceGenerator="csg"
>
    <ExtraControls>
        Current Seed color: <span style="color: @csg.Seed">@csg.Seed</span>
        @{
            if (Magic == -1) Magic = (int)(csg.Magic * 1000);
            if (Seed == null) Seed = csg.Seed;
        }
        <RadzenNumeric Min="1000" Max="5000" Step="1" Style="margin:0 16px;" @bind-Value="@Magic"
                               TValue="int"
                               Change=@(i => csg.Magic = Magic * 1.0 / 1000)
                                />
        <RadzenColorPicker @bind-Value=@Seed 
        Change=@(c => csg.Seed = Seed)/>
    </ExtraControls>
</SimplePieChart>

@code {
    private int Magic = -1;
    private string Seed = null;
    private CSG csg = new();
}


